#Single.port.unconnected {
    background-color: rgb(170, 117, 26);
    border-color: rgb(117, 70, 28);
}

#Single.port.unconnected:hover {
    background-color: rgb(255, 190, 90);
    border-color: rgb(180, 100, 30);
}

#Single.port.connected {
    background-color: rgb(161, 115, 35);
    border-color: rgb(114, 69, 29);
}

#Single.connected:hover {
    background-color: rgb(150, 35, 35);
    border-color: rgb(70, 5, 5);
}
